@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
*{
    font-family: 'Fjalla One', sans-serif;
    
}
.navbar-toggler{
    background-color: rgb(50, 95, 218) !important;  
}
@media (max-width:400px) {
.navbar-toggler{
    margin-left: auto;
    margin-right: auto;

}
.nav-link-active .nav-link .navbar-light{
    color: aliceblue !important;
}

}
@media (min-width:990px) {
    ul{
        position: absolute;
        right: 4rem;
    }
    *{
        font-family: 'Fjalla One', sans-serif;
    }
}
ul{
    text-align: center;
    font-weight: bolder;
}

