@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
*{
    font-family: 'Fjalla One', sans-serif;
}

@media (min-width:990px) {
    ul{
        position: absolute;
        right: 4rem;
    }
    *{
        font-family: 'Fjalla One', sans-serif;
    }
}
ul{
    text-align: center;
    font-weight: bolder;
}

