h1{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    /* color: aliceblue; */
    text-align: center;
}
*{
    /* background-color: wheat; */
    color: aliceblue !important;
}
body{
    background-color: black;
}